/*  
==========================================================
- Theme Style
==========================================================
*/

/* Main Menu Style */
.navbar-toggler {
    border: 1px solid rgba(0,0,0,0.09);
}
.webalive-navbar {
    position: relative;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    min-height:115px;
	background-color: #000;
}
.webalive-menu-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.webalive-navbar-brand {
    max-width: 200px;
}
.webalive-main-menu {
    padding: 0;
    margin: 0;
    list-style: none;
	border: 1px solid #fff;
	-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.webalive-main-menu li {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 100;
}
.webalive-main-menu li a {
    display: block;
    padding:10px 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
	text-decoration:none;
}
.webalive-main-menu li a:hover {
	background-color: #BF1422;
    border-radius: 30px;
}
.login-menu a{
	background-color: #BF1422;
    border-radius: 30px;
}
.login-menu a:hover{
	background-color: #fff !important;
    border-radius: 30px;
	color:#000
}
.webalive-main-menu li > .sub-menu {
    display: none;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    width: 225px;
    background: #f1f1f1;
}
.webalive-main-menu li > .sub-menu li {
    display: block;
    position: relative;
    z-index: 0;
}
.webalive-main-menu li > .sub-menu li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    line-height: 1.5;
    border-bottom: 1px solid rgba(255,255,255, 0.7);
}
.webalive-main-menu li > .sub-menu li ul.sub-menu {
    display: block;
    position: absolute;
    width: 225px;
    left: 100%;
    top: 0%;
    z-index: 1;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #f1f1f1;
}
.open {
    display: block !important;
}
.hide {
    display: none !important;
}
.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    /* transition: all 0.3s ease-in-out; */
}
.webalive-main-menu .menu-item-has-children {
    padding-right: 10px;
}
.webalive-main-menu > .menu-item-has-children:after {
    content: "\f078";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.webalive-main-menu > .menu-item-has-children:hover::after {
    content: "\f077";
}
.webalive-main-menu > li ul.sub-menu .menu-item-has-children:after {
    content: "\f054";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    line-height: 1;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 10px;
}
.webalive-main-menu > li ul.sub-menu .menu-item-has-children:hover::after {
    content: "\f053";
}
.webalive-main-menu > li ul.sub-menu li.menu-item-has-children:after {
    right: 10px;
}
.webalive-navbar-toggler,
.webalive-main-menu li .mb-toggle {
    display: none;
}
.mb-toggle .dashicons {
    margin: 50%;
    transform: translate(-50%, -50%);
}
.current-menu-item > a {
    color: #222;
    font-weight: 500;
}
/* Portrait and Landscape */
@media only screen
and (max-width: 1080px) {
    .webalive-navbar {
        background-color: #303030;
    }
    .webalive-navbar .container {
        padding: 0;
    }
    .webalive-brand-wrap {
        padding: 0 15px;
    }
    a.webalive-navbar-brand {
        font-weight: 600;
    }
    a.webalive-navbar-brand,
    a.webalive-navbar-brand:visited,
    .webalive-navbar-toggler {
        color: #fff
    }
    .webalive-brand-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid rgba(255,255,255, 0.7);
    }
    .webalive-navbar-toggler {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .webalive-main-menu {
        display: none;
        width: 100%;
        padding: 0 15px;
        background: #f1f1f1;
    }
    .webalive-main-menu > li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255, 0.7);
    }
    .webalive-main-menu li a {
        padding: 10px 0px;
    }
    .webalive-main-menu .menu-item-has-children:after {
        display: none;
    }
    .webalive-main-menu li .mb-toggle {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        color: #333;
        text-align: center;
        line-height: 2.5;
        top: 2px;
        right: 0px;
    }
    .webalive-main-menu li ul {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .webalive-main-menu li ul li {
        display: block;
        position: relative;
    }
    .webalive-main-menu > li ul.sub-menu {
        display: none;
        width: 100%;
        position: relative;
        top: 0;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .webalive-main-menu > li ul.sub-menu > li {
        border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    .webalive-main-menu > li ul.sub-menu li:first-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .webalive-main-menu > li ul.sub-menu > li:last-child {
        border: 0;
    }
    .webalive-main-menu > li ul.sub-menu > li:only-child {
        border-top: 1px solid rgba(0,0,0,0.05);
    }
    .webalive-main-menu li > .sub-menu li ul.sub-menu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0px 0px 0px 10px;
    }
    .webalive-main-menu .menu-item-has-children {
        padding-right: 0;
    }
    .webalive-main-menu li > .sub-menu li a {
        padding: 10px 0px;
    }

    .webalive-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .webalive-navbar-toggler::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 15px;
    }
    .webalive-navbar-toggler i::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 7px;
    }
    .webalive-navbar-toggler::before {
        content: '';
        width: 24px;
        height: 2px;
        background-color:#dadada;
        position: absolute;
        left: 0;
        top: 0;
    }
    .webalive-navbar-toggler i::before {
        visibility: hidden;
    }
    .webalive-navbar-toggler {
        display: block;
        right: 10px;
        top: 20px;
        width: 24px;
        position: absolute;
        cursor: pointer;
        border: 0;
        color: #dadada;
        z-index: 9;
        width: 36px;
        padding: 2px;
    }
    .webalive-navbar-toggler,
    .webalive-navbar-toggler:before,
    .webalive-navbar-toggler:after,
    .webalive-navbar-toggler.js-hide-nav:before,
    .webalive-navbar-toggler.js-hide-nav:after {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .webalive-navbar-toggler.js-hide-nav:before {
        moz-transform: rotate(45deg) translateX(6px) translateY(6px);
        -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
        -o-transform: rotate(45deg) translateX(6px) translateY(6px);
        -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
        transform: rotate(45deg) translateX(6px) translateY(6px);
    }
    .webalive-navbar-toggler.js-hide-nav:after {
        -moz-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -webkit-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -o-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        -ms-transform: rotate(-45deg) translateX(5px) translateY(-5px);
        transform: rotate(-45deg) translateX(5px) translateY(-5px);
    }
    .webalive-navbar-toggler.js-hide-nav i:after {
        visibility: hidden;
    }
}

.container {
    max-width: 1260px !important;
}

footer.webalive-footer {
    background-color: #141414;
    min-height:320px;
	padding: 114px 0 20px 0;
}
.foo-content-first p{
	color:#E2D5C8;
	font-size:48px;
	text-transform:uppercase;
	font-family: 'Bebas Kai' !important;
	line-height: 52px;
}
.foo-content-first strong{
	color:#BF1422;
}
.get-in-touch-circle a{
	width:200px;
	height:200px;
	border-radius:50%;
	background-color:#fff;
	color:#000;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size:32px;
	font-weight:700;
	text-decoration:none !important;
	margin: 0 auto;
	position: relative;
}
/*.get-in-touch-circle a:hover:before{
	content:'';
	position:absolute;
	background-color:#BF1422;
	width:100%;
	height:100%;
	border-radius:50%;
}*/
.subscripe-content .subscribe-title,
.subscripe-content .subscribe-title p{
	font-size:30px;
	color:#fff;
	line-height: 33px;
}
.link-info{
	display: flex;
    gap: 55px;
	margin:0;
	padding:0;
}
.link-info p{
	margin:0 0 10px 0;
	font-weight:600;
	color:#F9FAFB;
	text-transform:uppercase;
	font-family: "Inter", sans-serif;
}
.link-info{
	margin:0;
	padding:0;
}
.link-info li{
	list-style-type:none;
}
.link-info li a{
	color:#F9FAFB;
	font-size:17px;
	text-transform:Lowercase;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
.bottom-foo-comtent{
	padding-top:70px;
}
.copy-right-content p{
	color:#F9FAFB;
	margin-bottom:5px;
	line-height: 28px;
	font-family: "Inter", sans-serif;
	font-weight:600;
}

.menu-social-media-container ul{
	margin:0;
	padding:0;
	display: flex;
    gap:12px;
	justify-content: right;
}
.menu-social-media-container ul li{
	list-style-type:none;
}
.menu-social-media-container ul li a{
	color:#fff;
	font-size:33px;
}
.menu-social-media-container ul li a:hover{
	color:#BF1422;
}
.faq-accordin p{
	color:#fff;
	font-size:18px;
	line-height: 33px;
}
.faq-accordin a{
	text-decoration:none !important;
}
.faq-accordin .elementor-accordion .elementor-accordion-item {
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
	border-left:0px !important;
	border-right:0px !important;
}
.faq-accordin .elementor-toggle .elementor-tab-title {
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 23px 0px;
}
.faq-accordin .elementor-toggle .elementor-tab-content {
    padding: 15px 0px;
    display: none;
}
.faq-accordin .elementor-toggle-icon svg {
    margin-top:14px !important;
}
.case-study-list-btn ul li a{
	background-color:#EDEDED !important;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
	text-decoration:none !important;
	font-size:18px;
	color:#000;
	padding: 5px 18px;
}
.case-study-list-btn ul li a:hover,
.case-study-list-btn ul li:first-child a{
	background-color:#BF1422!important;
	
}
.case-study-list-btn ul li a:hover span,
.case-study-list-btn ul li:first-child a span{
	color:#fff;
}
.case-study-list-btn .elementor-icon-list-items.elementor-inline-items {
    gap: 14px 0px;
}
.heilight-color span{
	color:#BF1422;
}
.scroll-list-item{
	background-color:#ffffff;
	border-radius:32px;
	padding: 19px 10px;
}
.scroll-list-item ul{
	display: flex;
    gap: 39px;
    padding: 10px;
    margin: 0;
}
.scroll-list-item ul li{
	margin:0;
	font-size:19px;
}
.testimonial-content .premium-testimonial-text-wrapper{
	max-width:800px;
	margin:0 auto;
}
.testimonial-content .premium-testimonial-text-wrapper p{
	font-size:60px;
	line-height:61px;
}
.testimonial-content .premium-testimonial-heading{
	display:none;
}
.testimonial-content .premium-testimonial-job{
	display:none;
}
.testimonial-content .premium-testimonial-person-name{
	font-size:21px;
	font-family: "Inter", sans-serif;
	font-weight:400;
}
.testimonial-content a.carousel-arrow{
	width: 69px !important;
    height: 59px !important;
    background: none !important;
}
.testimonial-content i.fas.fa-angle-left {
    background: url(../img/left-arrow.svg) no-repeat center;
    width: 69px;
    height: 59px;
    display: block;
    font-size: 0;
}
.testimonial-content i.fas.fa-angle-right {
    background: url(../img/right-arrow.svg) no-repeat center;
    width: 69px;
    height: 59px;
    display: block;
    font-size: 0;
}
.slider-section{
	overflow-x:hidden;
	padding-left:590px;
}
.slider-section .ekit-testimonial--avatar {
    margin-bottom: 20px;
	display:none;
}
.slider-section .elementskit-author-name{
	font-size:105px !important;
	font-family: 'Bebas Kai' !important;
	color:#131212;
}
.slider-section .elementskit-author-des{
	font-size:40px !important;
	font-family: 'Bebas Kai' !important;
	color:#131212 !important;
	line-height: 40px;
}
.slider-section .elementskit-commentor-content p{
	font-size:24px;
	line-height:32px;
	color:#131212 !important;
}
.slider-section .ekit-wid-con .elementskit-single-testimonial-slider {
    min-height: 584px;
}
.slider-section .elementskit-single-testimonial-slider {
    padding: 40px;
    display: block;
}
.get-ready-content-top,
.get-ready-content{
	position:relative;
}
.get-ready-content:after{
	content:'';
	position:absolute;
	background:none;
	width:150px;
	height:150px;
	border-right:15px solid #BF1422;
	border-top:15px solid #BF1422;
	top:-8px;
	right:-8px;
}
.get-ready-content-top:after{
	content:'';
	position:absolute;
	background:none;
	width:150px;
	height:150px;
	border-left:15px solid #BF1422;
	border-bottom:15px solid #BF1422;
	bottom:-8px;
    left:-8px;
	display:block !important;
}
.sign-btn a{
	text-decoration:none !important;
}
.sign-btn .elementor-button-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
body.home {
	overflow-x:hidden;
}
.scroll-content.row {
    gap: 96px;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.scroll-container .scroll-box {
    min-width: 425px;
    width: 100%;
}
.scroll-container .card-number {
    font-size: 105px !important;
    font-family: 'Bebas Kai' !important;
    color: #131212;
	line-height: 125px;
}
.scroll-container .card-title{
    font-size: 40px !important;
    font-family: 'Bebas Kai' !important;
    color: #131212 !important;
    line-height: 40px;
}
.scroll-container .card-text p {
    font-size: 24px;
    line-height: 32px;
    color: #131212 !important;
}
.scroll-container .card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius:0px;
	min-height: 599px;
}
.elementor-widget-grid-animation .col-md-6{
	background-color: #FFFFFF;
	padding:40px;
	margin-bottom: 27px;
}
.elementor-widget-grid-animation h2{
    color: #000000;
    font-family: 'Bebas Kai' !important;
    font-size: 40px;
    font-weight: normal;
    line-height: 48px;
    margin:0 0 8px 0;
}
.elementor-widget-grid-animation .dis {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.scroll-list-item .loop-item {
    display: inline-block;
    padding: 0 10px;
    min-width: auto;
    box-sizing: border-box;
    background-color: transparent;
    margin: 5px;
	position:relative;
	font-size: 20px;
    color: #000;
}
.scroll-list-item .loop-item:before {
	content:'';
	background-color:#000;
	width:6px;
	height:6px;
	border-radius:50%;
	display:inline-block;
	margin-right: 9px;
    vertical-align: middle;
}
.scroll-container-img .card {
    background-color: transparent !important;
    border: 0px solid rgba(0,0,0,.125) !important;
    border-radius: 0;
    min-width:408px;
    display: block;
    text-align: center;
}
.scroll-container-img .card-body {
    padding: 0;
    margin-top:15px;
}
.scroll-container-img .scroll-box.box2 {
    position:relative;
    z-index:1;
}
.scroll-container-img .scroll-box img{
   height:261px;
}
.scroll-container-img .scroll-box.box2 img{
   height:295px;
}
.scroll-container-img .scroll-box.box2 a{
    background-color: #141414;
    border:2px solid #141414;
    color:#fff;
}
.scroll-container-img .scroll-box a{
    font-weight: 600;
    text-transform: uppercase;
    color: #141414;
    background-color: #FFFFFF;
    border:2px solid #141414;
    border-radius: 32px 32px 32px 32px;
    padding: 13px 35px 13px 35px;
    display: inline-block;
    text-decoration: none !important;
    text-decoration:none !important;
    font-size:16px;
    font-family: "Inter", sans-serif !important;
}

/*button hover start*/
.elimentor-button-black a{
    position:relative;
}
.elimentor-button-black a:after{
    content:'';
    width:0px;
    height: 100%;
    left:0px;
    background-color:#fff;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 32px 32px 32px 32px;
    
}
.elimentor-button-black a:hover:after{
    content:'';
    width:100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.elimentor-button-black .elementor-button-text{
    position:relative;
    z-index:1;
}
.elimentor-button-black a:before{
   content:'';
   background: url(../img/hover-arrow.png) no-repeat center;
   width:30px;
   height:19px;
   position:absolute;
   z-index:2;
   opacity:0;
   left: 50%;
     moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease
}
.elimentor-button-black a:hover:before{
   content:'';
   background: url(../img/hover-arrow.png) no-repeat center;
   width:30px;
   height:19px;
   position:absolute;
   z-index:2;
   opacity:100;
     moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease
}
/*button hover end*/